
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
.rent-a-book-container{
  background-color: #deebbf;
  min-height: 100vh;
}

.book-title{
  color: #7cb100;
  text-decoration: none;
  text-align: center;
}
.table-handler{
  max-width: 100%;
  width: 100%;
  border-bottom: 1px solid #dddddd;
}

.background{
  max-width: 80%;
  margin: auto;
  text-align: left;
}
.padding-author{
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: 2em;
}

.padding-author span{
  max-width: 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.custom-width{
    width: 200px;
}


.background-view{
  width: 90%;
}

.view-summary{
    border: 2px solid #dddddd;
}

.view-summary h4{
    color: #a4a3ab;
    margin-right: 2em;
}

.view-summary div span{
    color: #7cb100;
    text-decoration: underline;
    text-underline-offset: 3px;
    font-weight: 700;
}


.home-background .home-buttons{
    display: flex;
    gap: 1em;

}

.home-icons div{
  margin-right: 2em;
}